.toast {
    height: 60px;
    width: 200px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
    color: black;
    border-radius: 5px;
}



.toast-action span {
    cursor:pointer;
    border: 1px solid gray;
    padding: 3px 5px 3px 5px;
    border-radius: 50%;
    font-size: small;
    color: gray
}

.toast-action span:hover{
    color:rgb(41, 38, 38);
    border: 1px solid rgb(41, 38, 38);
}

.displayToastClass {
    display: none;
}
