.form {
    left: 0px;
    top: 0px;
    height: 250px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.form-configuration {
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input {
    height: 30px;
    outline: none;
    background: transparent;
}

select {
    height: 30px;
    outline: none;
}

.form-btn {
    border: none;
    outline: none;
    height: 30px;
    background: rgb(38, 68, 38);
    margin: 7px 0;
}

.form-btn:hover {
    cursor: pointer;
}

.list-icons {
    list-style: none;
    border: 1px solid lightgray;
    position: relative;
    height: 30px;
    width: 100%;
}

.list-icons li{
    width: 100%;
    border: 1px solid green;
    padding: 5px;
    margin: 2px;
    position: absolute;
    top: 25px;
    left: 0;
}

.warning-icon{

    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid green;
    
    border-left: 10px solid transparent;
}